{% extends "base.html" %}
 {% block script %}
 	<script type="text/javascript">
	
 	

	$(document).ready(function(){
		loadTweetContainer("tweet-container")


			});
	</script>
 {% endblock script %}


{% block content %} 

		
	<div class="row">
		<div class="col-sm-12">
			{% if request.GET.q %}
			<p class="lead">Results for {{ request.GET.q }}</p>
			{% endif %}
		</div>
		
		<div class="col-sm-9">
				<h1>Tweets</h1>
			{% if not request.GET.q %}
				<div class="">
					
					{% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" form_class='tweet-form' %}
				
				</div>
 				<hr/>
	 		{% endif %}
	 			<div id="tweet-container" data-url="/api/search/">
	 				
	 			</div>

	 			<a href="#" id="loadmore">Load More Tweets</a>
				
		</div>
		<div class='col-sm-3'>
			<h1>User</h1>
			{% for user in users %}
			<a href="/{{user.username}}/">{{user.username}}</a><br/>
			{% empty%}
			<p> No user found</p>
			{% endfor %}
		</div>
	</div>
{% endblock content %}



<!-- {% for object in object_list %}
				<div class="media">
				  <div class-="media-left">
				  	<a href="#">
				  	  {% if object.image %}
				        <img class="media-object" src="..." alt="..."/>
				  	  {% endif %}
				    </a>
				  </div>
				  <div class="media-body">
				    	{{ object.content }}<br/>
				    	via {{ object.user }}  | {{ object.timestamp | timesince}} ago | <a href='{{ object.get_absolute_url }}'>View</a>
				  </div>
				</div>
		        </hr>

			 {% empty %}
			    {% if request.GET.q %}
				 <p>No tweets Found</p>
				{% else %}
				 <p>No tweets yet</p>
				{% endif %}
		    {% endfor %} -->